{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    {% include 'core/head.html' %}
    <body style='display: flex; min-height: 100vh; flex-direction: column;'>
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGW3Z63"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="css_baseline"></div>
        {% block content %}
        {% endblock %}
        {% render_bundle 'vendors~main' %}
        {% render_bundle 'main' %}
    </body>
</html>